:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    height: 100vh;
    overflow-y: hidden;

    --primary-color: #FF007F;
    --secondary-color: #E0E0E0;
}